.nav-background {
    background: url("../images/b2.jpg");
    height:667px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 765px) {
    .nav-background {
        background: url("../images/b2.jpg");
        
    }
}