.img-txt {
    background: url("../images/b2.jpg");
    height:667px;
    background-size: 90rem;
    background-repeat: no-repeat;
}

.txt1 {
    text-align: center;
    color: white;
    padding-top: 15rem;
    font-size: 4.2rem;
    font-weight: bold;
}

.txt2 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.hbtn {
    display: grid;
    grid-template-columns: 120px 100px;
    justify-content: center;
}